@{
    ViewBag.Title = "Index";
}

<div class="row-fluid">
    <div class="span2">
        <ul class="nav nav-tabs nav-stacked">
            <li class="active">
                <a href="#">Home</a>
            </li>
            <li>@Html.ActionLink("Security", "Account")</li>
            <li>@Html.ActionLink("Delivery", "Delivery")</li>
        </ul>
    </div>
    <div class="span10">
        <div class="well well-large">
            <h2>Welcome to settings!</h2> <br/>
            <p>This is very important text</p>
        </div>
    </div>
</div>






