      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }

      header {
          padding: 20px 0;
      }

          .no_underline:hover {
        text-decoration: none;
    }
    .products {
        margin: 0 auto;
    }
    .info {
        width: 70%;
        display: inline-block;
    }
    .tocart {
        display: inline-block;
        width: 28%;
        text-align: right;
    }
    #sort_panel .btn {
        vertical-align:top;
        margin: 0 5px;
    }
    
    #alert-area {
        position: absolute;
        padding-left: 45%;
    }

    .row-merga {
        margin-bottom: 5px;
    }


    .span-float-right {
        float: right;
    }

    #price {
        display: inline;
    }

    .category_box {
        text-align: center;
        display: inline-block;
        margin: 20px 0;
    }
    .category_box a {
        display: block;
    }

    .category_nav_box {
        display: inline-block;
    }
    .category_wrapper {
        margin: 0 20%;
    }