@model IEnumerable<Helpers.OrdersInList>

<div id="history_box">

    @foreach (var item in Model) {
       <div class="order-box well">
            <div class="order_table_cell">
            <span class="order_table_header">Id:</span>
                @item.Id
            </div>

            <div class="order_table_cell">
            <span class="order_table_header">Status:</span>
                @item.Status
            </div>

            <div class="order_table_cell">
            <span class="order_table_header">Start time:</span>
                @item.startOrderTime
            </div>

            <div class="order_table_cell">
            <span class="order_table_header">End time:</span>
                @item.endOrderTime    
            </div>      
        </div>
    }

</div>
