@model int

<div class="counter">
    <input type="button" class="btn btn-mini" value="-" onclick="decrease(event)"  />
    <input type="text" class="counter"  value="0" />
    <input type="button" class="btn btn-mini"  value="+" onclick="increase(event)" />

    <input type="hidden" class="product_id" value="@Model" />

    <input type="button" class="add_button btn btn-danger" value="Add" onclick="addToCart(event)" />
</div>