<div class="btn-toolbar" style="margin: 0;">
    <div class="btn-group" style="margin: 0;">
        <a class="btn" href="#"><i class="icon-shopping-cart"> </i></a>
        <a class="btn" href="#"><i class="icon-road"> </i></a>
        <a class="btn dropdown-toggle" data-toggle="dropdown" href="#"><i class="icon-wrench"> </i></a>

            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                <li><a href="#">Settings</a></li>
                <li>@Html.ActionLink("Log out", "Logout","Membership")</li>
            </ul>

    </div>
</div>

