@model TestProject.Models.SearchPageModel

@{
    ViewBag.Title = "Search";
}

<div class="container-fluid">
    <div class="span4">
        <div class="well sidebar-nav">
            <ul class="nav nav-list">
                <li class="nav-header">Categories</li>
                @foreach (var category in Model.Categories)
                {
                    <li>
                        <a href="#">@category.Category.Name (@category.Count)</a>
                    </li>
                }
            </ul>
        </div>
    </div>
    

</div>

