@model iTechArt.Shop.Web.Models.ErrorModel

<div class="error_box">
    <h2>Sorry for that. Some errod occurded</h2>
    <span>Description:</span>
    <p>@Model.Message</p>

    @if (Model.Exception != null)
    {
        <span>Exception:</span>
        <p>Type: @Model.Exception.GetType().ToString()</p>
        <p>Message: @Model.Exception.Message</p>
    }
</div>